<div ng-class="{'container': !vm.modalInstance}">
  <div ng-class="{'modal-header': vm.modalInstance}">
    <h1>Note {{ vm.note.id }}</h1>
  </div>

  <div class="modal-body">
    <div class="form-group row">
      <label for="title" class="col-sm-1 col-form-label">Title:</label>
      <div class="col-sm-11">
        <input type="text" class="form-control" id="title" ng-model="vm.note.title" placeholder="Enter title"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="text" class="col-sm-1 col-form-label">Text:</label>
      <div class="col-sm-11">
        <textarea class="form-control" id="text" rows="7" ng-model="vm.note.text" placeholder="Enter text"></textarea>
      </div>
    </div>

  </div>
  
  <div class="" ng-class="{'modal-footer': true}">
    <div ng-if="!vm.modalInstance">
      <span class="pull-left col-sm-1"></span>
      <div class=" form-inline modified-text pull-left">
        <span title="{{::vm.note.modified | dateTime}}">Last modified {{::vm.note.modified | dateToNow }}</span>
      </div>
    </div>

    <button type="button" class="btn btn-primary" ng-click="vm.saveNote()">Save</button>
    <button type="button" ui-sref="notes" class="btn btn-info" ng-click="vm.cancelModal('cancel')">{{ vm.modalInstance ? 'Cancel' : 'Return to List' }}</button>
  </div>
</div>