/* Styles in src/style directory are applied to the whole page */
body {
  margin: 20px;
}

.pagination {
  margin: 0px
}

.modified-text {
  font-size: small;
  font-style: italic;
}

.modal-footer {
  padding-top: 0px;
  border-top: 0px !important;
}

/* Make first two columns minimum*/
td:nth-child(-n+2) {
  width: 1px;
}
